@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-size: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.hero {
  width: 100vw;
  height: 100vh;
  padding: 1rem 2rem;
}

.hero .hero_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-filter: brightness(10%);
          filter: brightness(10%);
}

.hero .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 50px;
}

.hero .navbar .astra_logo,
.hero .navbar .suvc_logo,
.hero .navbar .rste_logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 50px;
}

.hero .navbar .suvc_logo {
  left: 5rem;
}

.hero .navbar .rste_logo {
  left: 10rem;
}

.hero .navbar .nav a {
  color: white;
  font-size: 0.8rem;
}

.hero .navbar .nav a + a {
  margin-left: 1rem;
}

.hero .hero_content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .hero_content h1 {
  font-size: 7rem;
}

.hero .hero_content p {
  position: relative;
  bottom: 1rem;
  font-size: 1rem;
}

.hero .hero_content h1,
.hero .hero_content p {
  color: white;
  z-index: 100;
}

.about {
  width: 100vw;
}

.about .about_title {
  width: 100%;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  padding-left: 4rem;
}

.about .about_title h1 {
  color: #232249;
  font-size: 1.2rem;
  font-weight: 600;
}

.about .about_content {
  padding: 2rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #232249;
  color: white;
}

.about .about_content .about_description {
  width: 50%;
  padding: 1rem 2rem 1rem 0;
}

.about .about_content .about_description p {
  margin: 0;
  font-size: 1.1rem;
  line-height: 2rem;
  text-align: justify;
}

.about .about_content .about_carousel {
  width: 50%;
}

.about .about_content .about_carousel .carousel,
.about .about_content .about_carousel .carousel-inner,
.about .about_content .about_carousel img {
  width: 100%;
  height: 100%;
}

.about .about_content .about_carousel img {
  height: 400px;
}

.team_structure,
.team_details {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team_structure .structure_title,
.team_structure .details_title,
.team_details .structure_title,
.team_details .details_title {
  width: 100%;
  height: 5rem;
  padding: 1rem;
  padding-left: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.team_structure .structure_title h1,
.team_structure .details_title h1,
.team_details .structure_title h1,
.team_details .details_title h1 {
  color: #232249;
  font-size: 1.2rem;
  font-weight: 600;
}

.team_structure .structure_content,
.team_structure .details_content,
.team_details .structure_content,
.team_details .details_content {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #232249;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team_structure .structure_content .team_details,
.team_structure .details_content .team_details,
.team_details .structure_content .team_details,
.team_details .details_content .team_details {
  width: 400px;
  height: 350px;
  margin: 1rem;
}

.team_structure .structure_content .team_details .carousel,
.team_structure .details_content .team_details .carousel,
.team_details .structure_content .team_details .carousel,
.team_details .details_content .team_details .carousel {
  width: 100%;
  height: 100%;
}

.team_structure .structure_content .team_details .carousel-inner img,
.team_structure .details_content .team_details .carousel-inner img,
.team_details .structure_content .team_details .carousel-inner img,
.team_details .details_content .team_details .carousel-inner img {
  opacity: 0.3;
}

.team_structure .structure_content .team_details .carousel-item .text_content,
.team_structure .details_content .team_details .carousel-item .text_content,
.team_details .structure_content .team_details .carousel-item .text_content,
.team_details .details_content .team_details .carousel-item .text_content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.team_structure .structure_content .team_details .carousel-item .text_content h1,
.team_structure .details_content .team_details .carousel-item .text_content h1,
.team_details .structure_content .team_details .carousel-item .text_content h1,
.team_details .details_content .team_details .carousel-item .text_content h1 {
  font-size: 1.8rem;
}

.team_structure .structure_content .team_details .carousel-inner,
.team_structure .structure_content .team_details .carousel-item,
.team_structure .structure_content .team_details img,
.team_structure .details_content .team_details .carousel-inner,
.team_structure .details_content .team_details .carousel-item,
.team_structure .details_content .team_details img,
.team_details .structure_content .team_details .carousel-inner,
.team_details .structure_content .team_details .carousel-item,
.team_details .structure_content .team_details img,
.team_details .details_content .team_details .carousel-inner,
.team_details .details_content .team_details .carousel-item,
.team_details .details_content .team_details img {
  width: 100%;
  height: 100%;
}

.team_structure .structure_image,
.team_details .structure_image {
  width: 80%;
}

.footer {
  width: 100vw;
}

.footer .footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 2rem 4rem;
  background-color: #4d4d4d;
}

.footer .footer_content hr {
  width: 80%;
  background-color: white;
}

.footer .footer_content .social_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer_content .social_media img {
  width: 25px;
  height: 25px;
  margin: 2rem 5rem;
}

.footer .footer_content .contacts {
  margin: 2rem;
}

.footer .footer_content .contacts a {
  margin: 0 2rem;
  color: white;
}

.footer .footer_content .contacts a:hover {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */
.report_icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 7rem;
}
.ppt_title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12rem;
  background-color: #232249;
}
#report_cl2{
  background-color: #232249;
  padding: 0%;
  margin: 0%;

}
.report_structure{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 5% 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  background-color: #232249; 

}

.ppt_structure {
  background-color: #232249;
  width: 100%;
  padding: 5% 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.report_content{
  display: inline-flex;flex-direction: row;
  margin: 25px;
  padding:3rem;
  width: 100%;
  height: 100%;
  background-color: #232249;
}
.social-icon{
  width: 35px;
  height: 35px;
  color: #ff4c68;
  align-items: center;
  margin-bottom: 1rem;
}
